
.post{
	border-bottom: 1px solid black;
	padding: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.post:last-child{
	border: 0;
}

.post h1{
	font-weight: normal;
	font-size: 30px;
}

.post a.link{
	text-decoration: none;
	color: black;
}
.post-text{
	letter-spacing: 1px;
	font-size: 15px;
	font-family: serif;
	color: gray;
	text-align: justify;
}
.post-action{
	margin-top: -150px;
	margin-bottom: 30px;
}
